// bg
.bg-transparent{
  background-color: transparent;
}

.bg-cover-center {
  background-position: center center;
  background-size: cover;
}
//logo
.hide-text {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

//btn 



.btn-primary{
  color: #fff;
  background-color: $color-primary;
}

// block
.d-block{
  display: block;
}

// bg
// flex
.d-flex {
  display: flex;
}



.d-none{
  display: none;
}

.flex-column {
  flex-direction: column;
}



.flex-wrap{
  flex-wrap: wrap;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.flex-center{
  justify-content: center;
  align-items: center;
}
//bg
.bg-primary {
  background-color: $color-primary;
}
.bg-secondary {
  background-color: $color-secondary;
}

//text
.text-center {
  text-align: center;
}

.text-white {
  color: $text-white;
}

.border-bottom{
  border-bottom: 1px solid;
}
.border-white{
  border-color: $white;
}

@include addGrid('.d', 'block', 'display', 'block') {}
@include addGrid('.d', 'flex', 'display', 'flex') {}
@include addGrid('.d', 'none', 'display', 'none') {}
@include addGrid('.flex', 'column', 'flex-direction', 'column') {}
@include addGrid('.justify-content', 'between', 'justify-content', 'space-between') {}
