.header {
  padding: {
    left: 88px;
    right: 56px;
  };
  .logo{
    width: 80px;
    height: 49px;
    margin: {
      top: 30px;
      bottom: 30px;
    };
  }
  .navMenu{
    >li a{
      font-size: 20px;
      padding: {
        top: 39px;
        bottom: 39px;
      };
      &:hover{
        background-color: $color-secondary;
      }
    }
  }
}

.footer {
  height: 200px;
  background-color: #00cc99;
}