<div class="hero bg-cover-center" style="background-image: url(./assets/images/banner.png);">
  <div class="container d-flex justify-content-end align-items-center h-100">
    <div class="text-primary text-right">
      <span class="fs-5 fs-md-8 fw-normal">Promise-Desert 2020 早春系列</span>
      <h2 class="h1 fs-md-5 fw-bold">看得清，才能看得遠</h2>
    </div>
  </div>
</div>