.navbar__submenu{
  &__item{
    &:first-child{
      border-left: 1px solid #DCDCDC;
    }
    border-right: 1px solid #DCDCDC;
    >a{
      color:#000;
      border-bottom: 8px solid transparent;
      @include pad{
        padding: {
          top: 14px;
          bottom: 14px;
        };
      }
      @include mobile{
        padding: {
          top: 5px;
          bottom:5px;
        };
        border-width: 4px;
      }
      h3{
        color:#000;
      }
      &:hover, &.active{
        color: $color-secondary;
        h3{
          color: $color-secondary;
        }
        border-color: $color-secondary;
      }
    }
  }
}
.adBlock{
  &__item{
    height: 304px;
    @include mobile{
      height: 148px;
    }
    &:nth-child(1){
      background-image: url(../images/banner-1.png);
    }
    &:nth-child(2){
      background-image: url(../images/banner-2.png);
    }
  }
}
.product{
  padding: {
    top: 80px;
    bottom: 160px;
  };
  @include pad{
    padding: {
      top: 56px;
      bottom: 96px;
    }
  }
  @include mobile{
    padding: {
      top: 32px;
      bottom: 56px;
    }
  }

  &__title, &__price{
    line-height: 36px;
    @include mobile {
      line-height: 30px;
    }
  }
  .card{
    border: none;
    margin-bottom: 104px;
    border-radius: 0;
    &__img{
      min-height: 164px;
      border-radius: 0;
      @include mobile{
        min-height: 166px;
      }
    }
    &__body{
      padding: 0;
    }
  }
  .page__link{
    @include mobile{
      &:first-child, &:last-child{
        padding: {
          left: 12px;
          right: 12px;
        };
      }
      font-size: 16px;
      padding: {
        left: 15px;
        right: 15px;
      };
    }
  }
}
.colorbox{
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.color-first{
  background-color: #5F3E2D;
}
.color-secondary{
  background-color: #B75929;
}

