/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  a:hover {
    color: lightgray; }

h1, .h1 {
  font-size: 4rem;
  color: #650300;
  line-height: 1.2;
  font-weight: 600; }

h2, .h2 {
  font-size: 3rem;
  color: #650300;
  line-height: 1.2;
  font-weight: 600; }

h3, .h3 {
  font-size: 2.25rem;
  color: #650300;
  line-height: 1.2;
  font-weight: 600; }

h4, .h4 {
  font-size: 1.5rem;
  color: #650300;
  line-height: 1.2;
  font-weight: 600; }

h5, .h5 {
  font-size: 1rem;
  color: #650300;
  line-height: 1.2;
  font-weight: 600; }

.fs-1 {
  font-size: 4.5rem; }

.fs-2 {
  font-size: 4rem; }

.fs-3 {
  font-size: 3rem; }

.fs-4 {
  font-size: 2.625rem; }

.fs-5 {
  font-size: 2.25rem; }

.fs-6 {
  font-size: 1.5rem; }

.fs-7 {
  font-size: 1.25rem; }

.fs-8 {
  font-size: 1rem; }

.fs-9 {
  font-size: 0.875rem; }

@media (max-width: 992px) {
  .fs-lg-1 {
    font-size: 4.5rem; } }

@media (max-width: 992px) {
  .fs-lg-2 {
    font-size: 4rem; } }

@media (max-width: 992px) {
  .fs-lg-3 {
    font-size: 3rem; } }

@media (max-width: 992px) {
  .fs-lg-4 {
    font-size: 2.625rem; } }

@media (max-width: 992px) {
  .fs-lg-5 {
    font-size: 2.25rem; } }

@media (max-width: 992px) {
  .fs-lg-6 {
    font-size: 1.5rem; } }

@media (max-width: 992px) {
  .fs-lg-7 {
    font-size: 1.25rem; } }

@media (max-width: 992px) {
  .fs-lg-8 {
    font-size: 1rem; } }

@media (max-width: 992px) {
  .fs-lg-9 {
    font-size: 0.875rem; } }

@media (max-width: 767px) {
  .fs-md-1 {
    font-size: 4.5rem; } }

@media (max-width: 767px) {
  .fs-md-2 {
    font-size: 4rem; } }

@media (max-width: 767px) {
  .fs-md-3 {
    font-size: 3rem; } }

@media (max-width: 767px) {
  .fs-md-4 {
    font-size: 2.625rem; } }

@media (max-width: 767px) {
  .fs-md-5 {
    font-size: 2.25rem; } }

@media (max-width: 767px) {
  .fs-md-6 {
    font-size: 1.5rem; } }

@media (max-width: 767px) {
  .fs-md-7 {
    font-size: 1.25rem; } }

@media (max-width: 767px) {
  .fs-md-8 {
    font-size: 1rem; } }

@media (max-width: 767px) {
  .fs-md-9 {
    font-size: 0.875rem; } }

.fw-black {
  font-weight: 900; }

.fw-blod {
  font-weight: 700; }

.fw-semiBlod {
  font-weight: 600; }

.fw-medium {
  font-weight: 500; }

.fw-normal {
  font-weight: 400; }

.fw-regular {
  font-weight: 400; }

.font-italic {
  font-style: italic; }

.text-nowrap {
  white-space: nowrap; }

.container {
  max-width: 75rem;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto; }
  @media (max-width: 992px) {
    .container {
      max-width: 60rem;
      padding-left: 2.4375rem;
      padding-right: 2.4375rem; } }
  @media (max-width: 767px) {
    .container {
      max-width: 45rem;
      padding-left: 0.9375rem;
      padding-right: 0.9375rem; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }
  .row > * {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px; }

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 8.33333%; }

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 16.66667%; }

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25%; }

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.33333%; }

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 41.66667%; }

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%; }

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 58.33333%; }

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 66.66667%; }

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 75%; }

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 83.33333%; }

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 91.66667%; }

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%; }

@media (max-width: 1100px) and (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333%; } }

@media (max-width: 992px) {
  .col-lg-1 {
    width: 100%; } }

@media (max-width: 1100px) and (min-width: 992px) {
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66667%; } }

@media (max-width: 992px) {
  .col-lg-2 {
    width: 100%; } }

@media (max-width: 1100px) and (min-width: 992px) {
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%; } }

@media (max-width: 992px) {
  .col-lg-3 {
    width: 100%; } }

@media (max-width: 1100px) and (min-width: 992px) {
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333%; } }

@media (max-width: 992px) {
  .col-lg-4 {
    width: 100%; } }

@media (max-width: 1100px) and (min-width: 992px) {
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66667%; } }

@media (max-width: 992px) {
  .col-lg-5 {
    width: 100%; } }

@media (max-width: 1100px) and (min-width: 992px) {
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%; } }

@media (max-width: 992px) {
  .col-lg-6 {
    width: 100%; } }

@media (max-width: 1100px) and (min-width: 992px) {
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333%; } }

@media (max-width: 992px) {
  .col-lg-7 {
    width: 100%; } }

@media (max-width: 1100px) and (min-width: 992px) {
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66667%; } }

@media (max-width: 992px) {
  .col-lg-8 {
    width: 100%; } }

@media (max-width: 1100px) and (min-width: 992px) {
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%; } }

@media (max-width: 992px) {
  .col-lg-9 {
    width: 100%; } }

@media (max-width: 1100px) and (min-width: 992px) {
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333%; } }

@media (max-width: 992px) {
  .col-lg-10 {
    width: 100%; } }

@media (max-width: 1100px) and (min-width: 992px) {
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66667%; } }

@media (max-width: 992px) {
  .col-lg-11 {
    width: 100%; } }

@media (max-width: 1100px) and (min-width: 992px) {
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%; } }

@media (max-width: 992px) {
  .col-lg-12 {
    width: 100%; } }

@media (max-width: 991px) and (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333%; } }

@media (max-width: 767px) {
  .col-md-1 {
    width: 100%; } }

@media (max-width: 991px) and (min-width: 768px) {
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66667%; } }

@media (max-width: 767px) {
  .col-md-2 {
    width: 100%; } }

@media (max-width: 991px) and (min-width: 768px) {
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%; } }

@media (max-width: 767px) {
  .col-md-3 {
    width: 100%; } }

@media (max-width: 991px) and (min-width: 768px) {
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333%; } }

@media (max-width: 767px) {
  .col-md-4 {
    width: 100%; } }

@media (max-width: 991px) and (min-width: 768px) {
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66667%; } }

@media (max-width: 767px) {
  .col-md-5 {
    width: 100%; } }

@media (max-width: 991px) and (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%; } }

@media (max-width: 767px) {
  .col-md-6 {
    width: 100%; } }

@media (max-width: 991px) and (min-width: 768px) {
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333%; } }

@media (max-width: 767px) {
  .col-md-7 {
    width: 100%; } }

@media (max-width: 991px) and (min-width: 768px) {
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66667%; } }

@media (max-width: 767px) {
  .col-md-8 {
    width: 100%; } }

@media (max-width: 991px) and (min-width: 768px) {
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%; } }

@media (max-width: 767px) {
  .col-md-9 {
    width: 100%; } }

@media (max-width: 991px) and (min-width: 768px) {
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333%; } }

@media (max-width: 767px) {
  .col-md-10 {
    width: 100%; } }

@media (max-width: 991px) and (min-width: 768px) {
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66667%; } }

@media (max-width: 767px) {
  .col-md-11 {
    width: 100%; } }

@media (max-width: 991px) and (min-width: 768px) {
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%; } }

@media (max-width: 767px) {
  .col-md-12 {
    width: 100%; } }

.m-0 {
  margin: 0; }

.m-1 {
  margin: 0.5rem; }

.m-2 {
  margin: 0.75rem; }

.m-3 {
  margin: 1rem; }

.m-4 {
  margin: 1.25rem; }

.m-5 {
  margin: 1.5rem; }

.m-6 {
  margin: 1.875rem; }

.m-7 {
  margin: 2rem; }

.m-8 {
  margin: 2.5rem; }

.m-9 {
  margin: 3.75rem; }

.m-10 {
  margin: 5rem; }

.mt-0 {
  margin-top: 0; }

.mt-1 {
  margin-top: 0.5rem; }

.mt-2 {
  margin-top: 0.75rem; }

.mt-3 {
  margin-top: 1rem; }

.mt-4 {
  margin-top: 1.25rem; }

.mt-5 {
  margin-top: 1.5rem; }

.mt-6 {
  margin-top: 1.875rem; }

.mt-7 {
  margin-top: 2rem; }

.mt-8 {
  margin-top: 2.5rem; }

.mt-9 {
  margin-top: 3.75rem; }

.mt-10 {
  margin-top: 5rem; }

.mr-0 {
  margin-right: 0; }

.mr-1 {
  margin-right: 0.5rem; }

.mr-2 {
  margin-right: 0.75rem; }

.mr-3 {
  margin-right: 1rem; }

.mr-4 {
  margin-right: 1.25rem; }

.mr-5 {
  margin-right: 1.5rem; }

.mr-6 {
  margin-right: 1.875rem; }

.mr-7 {
  margin-right: 2rem; }

.mr-8 {
  margin-right: 2.5rem; }

.mr-9 {
  margin-right: 3.75rem; }

.mr-10 {
  margin-right: 5rem; }

.mb-0 {
  margin-bottom: 0; }

.mb-1 {
  margin-bottom: 0.5rem; }

.mb-2 {
  margin-bottom: 0.75rem; }

.mb-3 {
  margin-bottom: 1rem; }

.mb-4 {
  margin-bottom: 1.25rem; }

.mb-5 {
  margin-bottom: 1.5rem; }

.mb-6 {
  margin-bottom: 1.875rem; }

.mb-7 {
  margin-bottom: 2rem; }

.mb-8 {
  margin-bottom: 2.5rem; }

.mb-9 {
  margin-bottom: 3.75rem; }

.mb-10 {
  margin-bottom: 5rem; }

.ml-0 {
  margin-left: 0; }

.ml-1 {
  margin-left: 0.5rem; }

.ml-2 {
  margin-left: 0.75rem; }

.ml-3 {
  margin-left: 1rem; }

.ml-4 {
  margin-left: 1.25rem; }

.ml-5 {
  margin-left: 1.5rem; }

.ml-6 {
  margin-left: 1.875rem; }

.ml-7 {
  margin-left: 2rem; }

.ml-8 {
  margin-left: 2.5rem; }

.ml-9 {
  margin-left: 3.75rem; }

.ml-10 {
  margin-left: 5rem; }

@media (max-width: 992px) {
  .m-lg-0 {
    margin: 0; }
  .m-lg-1 {
    margin: 0.5rem; }
  .m-lg-2 {
    margin: 0.75rem; }
  .m-lg-3 {
    margin: 1rem; }
  .m-lg-4 {
    margin: 1.25rem; }
  .m-lg-5 {
    margin: 1.5rem; }
  .m-lg-6 {
    margin: 1.875rem; }
  .m-lg-7 {
    margin: 2rem; }
  .m-lg-8 {
    margin: 2.5rem; }
  .m-lg-9 {
    margin: 3.75rem; }
  .m-lg-10 {
    margin: 5rem; } }

@media (max-width: 992px) {
  .mt-lg-0 {
    margin-top: 0; }
  .mt-lg-1 {
    margin-top: 0.5rem; }
  .mt-lg-2 {
    margin-top: 0.75rem; }
  .mt-lg-3 {
    margin-top: 1rem; }
  .mt-lg-4 {
    margin-top: 1.25rem; }
  .mt-lg-5 {
    margin-top: 1.5rem; }
  .mt-lg-6 {
    margin-top: 1.875rem; }
  .mt-lg-7 {
    margin-top: 2rem; }
  .mt-lg-8 {
    margin-top: 2.5rem; }
  .mt-lg-9 {
    margin-top: 3.75rem; }
  .mt-lg-10 {
    margin-top: 5rem; } }

@media (max-width: 992px) {
  .mr-lg-0 {
    margin-right: 0; }
  .mr-lg-1 {
    margin-right: 0.5rem; }
  .mr-lg-2 {
    margin-right: 0.75rem; }
  .mr-lg-3 {
    margin-right: 1rem; }
  .mr-lg-4 {
    margin-right: 1.25rem; }
  .mr-lg-5 {
    margin-right: 1.5rem; }
  .mr-lg-6 {
    margin-right: 1.875rem; }
  .mr-lg-7 {
    margin-right: 2rem; }
  .mr-lg-8 {
    margin-right: 2.5rem; }
  .mr-lg-9 {
    margin-right: 3.75rem; }
  .mr-lg-10 {
    margin-right: 5rem; } }

@media (max-width: 992px) {
  .mb-lg-0 {
    margin-bottom: 0; }
  .mb-lg-1 {
    margin-bottom: 0.5rem; }
  .mb-lg-2 {
    margin-bottom: 0.75rem; }
  .mb-lg-3 {
    margin-bottom: 1rem; }
  .mb-lg-4 {
    margin-bottom: 1.25rem; }
  .mb-lg-5 {
    margin-bottom: 1.5rem; }
  .mb-lg-6 {
    margin-bottom: 1.875rem; }
  .mb-lg-7 {
    margin-bottom: 2rem; }
  .mb-lg-8 {
    margin-bottom: 2.5rem; }
  .mb-lg-9 {
    margin-bottom: 3.75rem; }
  .mb-lg-10 {
    margin-bottom: 5rem; } }

@media (max-width: 992px) {
  .ml-lg-0 {
    margin-left: 0; }
  .ml-lg-1 {
    margin-left: 0.5rem; }
  .ml-lg-2 {
    margin-left: 0.75rem; }
  .ml-lg-3 {
    margin-left: 1rem; }
  .ml-lg-4 {
    margin-left: 1.25rem; }
  .ml-lg-5 {
    margin-left: 1.5rem; }
  .ml-lg-6 {
    margin-left: 1.875rem; }
  .ml-lg-7 {
    margin-left: 2rem; }
  .ml-lg-8 {
    margin-left: 2.5rem; }
  .ml-lg-9 {
    margin-left: 3.75rem; }
  .ml-lg-10 {
    margin-left: 5rem; } }

@media (max-width: 767px) {
  .m-md-0 {
    margin: 0; }
  .m-md-1 {
    margin: 0.5rem; }
  .m-md-2 {
    margin: 0.75rem; }
  .m-md-3 {
    margin: 1rem; }
  .m-md-4 {
    margin: 1.25rem; }
  .m-md-5 {
    margin: 1.5rem; }
  .m-md-6 {
    margin: 1.875rem; }
  .m-md-7 {
    margin: 2rem; }
  .m-md-8 {
    margin: 2.5rem; }
  .m-md-9 {
    margin: 3.75rem; }
  .m-md-10 {
    margin: 5rem; } }

@media (max-width: 767px) {
  .mt-md-0 {
    margin-top: 0; }
  .mt-md-1 {
    margin-top: 0.5rem; }
  .mt-md-2 {
    margin-top: 0.75rem; }
  .mt-md-3 {
    margin-top: 1rem; }
  .mt-md-4 {
    margin-top: 1.25rem; }
  .mt-md-5 {
    margin-top: 1.5rem; }
  .mt-md-6 {
    margin-top: 1.875rem; }
  .mt-md-7 {
    margin-top: 2rem; }
  .mt-md-8 {
    margin-top: 2.5rem; }
  .mt-md-9 {
    margin-top: 3.75rem; }
  .mt-md-10 {
    margin-top: 5rem; } }

@media (max-width: 767px) {
  .mr-md-0 {
    margin-right: 0; }
  .mr-md-1 {
    margin-right: 0.5rem; }
  .mr-md-2 {
    margin-right: 0.75rem; }
  .mr-md-3 {
    margin-right: 1rem; }
  .mr-md-4 {
    margin-right: 1.25rem; }
  .mr-md-5 {
    margin-right: 1.5rem; }
  .mr-md-6 {
    margin-right: 1.875rem; }
  .mr-md-7 {
    margin-right: 2rem; }
  .mr-md-8 {
    margin-right: 2.5rem; }
  .mr-md-9 {
    margin-right: 3.75rem; }
  .mr-md-10 {
    margin-right: 5rem; } }

@media (max-width: 767px) {
  .mb-md-0 {
    margin-bottom: 0; }
  .mb-md-1 {
    margin-bottom: 0.5rem; }
  .mb-md-2 {
    margin-bottom: 0.75rem; }
  .mb-md-3 {
    margin-bottom: 1rem; }
  .mb-md-4 {
    margin-bottom: 1.25rem; }
  .mb-md-5 {
    margin-bottom: 1.5rem; }
  .mb-md-6 {
    margin-bottom: 1.875rem; }
  .mb-md-7 {
    margin-bottom: 2rem; }
  .mb-md-8 {
    margin-bottom: 2.5rem; }
  .mb-md-9 {
    margin-bottom: 3.75rem; }
  .mb-md-10 {
    margin-bottom: 5rem; } }

@media (max-width: 767px) {
  .ml-md-0 {
    margin-left: 0; }
  .ml-md-1 {
    margin-left: 0.5rem; }
  .ml-md-2 {
    margin-left: 0.75rem; }
  .ml-md-3 {
    margin-left: 1rem; }
  .ml-md-4 {
    margin-left: 1.25rem; }
  .ml-md-5 {
    margin-left: 1.5rem; }
  .ml-md-6 {
    margin-left: 1.875rem; }
  .ml-md-7 {
    margin-left: 2rem; }
  .ml-md-8 {
    margin-left: 2.5rem; }
  .ml-md-9 {
    margin-left: 3.75rem; }
  .ml-md-10 {
    margin-left: 5rem; } }

.p-0 {
  padding: 0; }

.p-1 {
  padding: 0.5rem; }

.p-2 {
  padding: 0.75rem; }

.p-3 {
  padding: 1rem; }

.p-4 {
  padding: 1.25rem; }

.p-5 {
  padding: 1.5rem; }

.p-6 {
  padding: 1.875rem; }

.p-7 {
  padding: 2rem; }

.p-8 {
  padding: 2.5rem; }

.p-9 {
  padding: 3.75rem; }

.p-10 {
  padding: 5rem; }

.pt-0 {
  padding-top: 0; }

.pt-1 {
  padding-top: 0.5rem; }

.pt-2 {
  padding-top: 0.75rem; }

.pt-3 {
  padding-top: 1rem; }

.pt-4 {
  padding-top: 1.25rem; }

.pt-5 {
  padding-top: 1.5rem; }

.pt-6 {
  padding-top: 1.875rem; }

.pt-7 {
  padding-top: 2rem; }

.pt-8 {
  padding-top: 2.5rem; }

.pt-9 {
  padding-top: 3.75rem; }

.pt-10 {
  padding-top: 5rem; }

.pr-0 {
  padding-right: 0; }

.pr-1 {
  padding-right: 0.5rem; }

.pr-2 {
  padding-right: 0.75rem; }

.pr-3 {
  padding-right: 1rem; }

.pr-4 {
  padding-right: 1.25rem; }

.pr-5 {
  padding-right: 1.5rem; }

.pr-6 {
  padding-right: 1.875rem; }

.pr-7 {
  padding-right: 2rem; }

.pr-8 {
  padding-right: 2.5rem; }

.pr-9 {
  padding-right: 3.75rem; }

.pr-10 {
  padding-right: 5rem; }

.pb-0 {
  padding-bottom: 0; }

.pb-1 {
  padding-bottom: 0.5rem; }

.pb-2 {
  padding-bottom: 0.75rem; }

.pb-3 {
  padding-bottom: 1rem; }

.pb-4 {
  padding-bottom: 1.25rem; }

.pb-5 {
  padding-bottom: 1.5rem; }

.pb-6 {
  padding-bottom: 1.875rem; }

.pb-7 {
  padding-bottom: 2rem; }

.pb-8 {
  padding-bottom: 2.5rem; }

.pb-9 {
  padding-bottom: 3.75rem; }

.pb-10 {
  padding-bottom: 5rem; }

.pl-0 {
  padding-left: 0; }

.pl-1 {
  padding-left: 0.5rem; }

.pl-2 {
  padding-left: 0.75rem; }

.pl-3 {
  padding-left: 1rem; }

.pl-4 {
  padding-left: 1.25rem; }

.pl-5 {
  padding-left: 1.5rem; }

.pl-6 {
  padding-left: 1.875rem; }

.pl-7 {
  padding-left: 2rem; }

.pl-8 {
  padding-left: 2.5rem; }

.pl-9 {
  padding-left: 3.75rem; }

.pl-10 {
  padding-left: 5rem; }

@media (max-width: 992px) {
  .p-lg-0 {
    padding: 0; }
  .p-lg-1 {
    padding: 0.5rem; }
  .p-lg-2 {
    padding: 0.75rem; }
  .p-lg-3 {
    padding: 1rem; }
  .p-lg-4 {
    padding: 1.25rem; }
  .p-lg-5 {
    padding: 1.5rem; }
  .p-lg-6 {
    padding: 1.875rem; }
  .p-lg-7 {
    padding: 2rem; }
  .p-lg-8 {
    padding: 2.5rem; }
  .p-lg-9 {
    padding: 3.75rem; }
  .p-lg-10 {
    padding: 5rem; } }

@media (max-width: 992px) {
  .pt-lg-0 {
    padding-top: 0; }
  .pt-lg-1 {
    padding-top: 0.5rem; }
  .pt-lg-2 {
    padding-top: 0.75rem; }
  .pt-lg-3 {
    padding-top: 1rem; }
  .pt-lg-4 {
    padding-top: 1.25rem; }
  .pt-lg-5 {
    padding-top: 1.5rem; }
  .pt-lg-6 {
    padding-top: 1.875rem; }
  .pt-lg-7 {
    padding-top: 2rem; }
  .pt-lg-8 {
    padding-top: 2.5rem; }
  .pt-lg-9 {
    padding-top: 3.75rem; }
  .pt-lg-10 {
    padding-top: 5rem; } }

@media (max-width: 992px) {
  .pr-lg-0 {
    padding-right: 0; }
  .pr-lg-1 {
    padding-right: 0.5rem; }
  .pr-lg-2 {
    padding-right: 0.75rem; }
  .pr-lg-3 {
    padding-right: 1rem; }
  .pr-lg-4 {
    padding-right: 1.25rem; }
  .pr-lg-5 {
    padding-right: 1.5rem; }
  .pr-lg-6 {
    padding-right: 1.875rem; }
  .pr-lg-7 {
    padding-right: 2rem; }
  .pr-lg-8 {
    padding-right: 2.5rem; }
  .pr-lg-9 {
    padding-right: 3.75rem; }
  .pr-lg-10 {
    padding-right: 5rem; } }

@media (max-width: 992px) {
  .pb-lg-0 {
    padding-bottom: 0; }
  .pb-lg-1 {
    padding-bottom: 0.5rem; }
  .pb-lg-2 {
    padding-bottom: 0.75rem; }
  .pb-lg-3 {
    padding-bottom: 1rem; }
  .pb-lg-4 {
    padding-bottom: 1.25rem; }
  .pb-lg-5 {
    padding-bottom: 1.5rem; }
  .pb-lg-6 {
    padding-bottom: 1.875rem; }
  .pb-lg-7 {
    padding-bottom: 2rem; }
  .pb-lg-8 {
    padding-bottom: 2.5rem; }
  .pb-lg-9 {
    padding-bottom: 3.75rem; }
  .pb-lg-10 {
    padding-bottom: 5rem; } }

@media (max-width: 992px) {
  .pl-lg-0 {
    padding-left: 0; }
  .pl-lg-1 {
    padding-left: 0.5rem; }
  .pl-lg-2 {
    padding-left: 0.75rem; }
  .pl-lg-3 {
    padding-left: 1rem; }
  .pl-lg-4 {
    padding-left: 1.25rem; }
  .pl-lg-5 {
    padding-left: 1.5rem; }
  .pl-lg-6 {
    padding-left: 1.875rem; }
  .pl-lg-7 {
    padding-left: 2rem; }
  .pl-lg-8 {
    padding-left: 2.5rem; }
  .pl-lg-9 {
    padding-left: 3.75rem; }
  .pl-lg-10 {
    padding-left: 5rem; } }

@media (max-width: 767px) {
  .p-md-0 {
    padding: 0; }
  .p-md-1 {
    padding: 0.5rem; }
  .p-md-2 {
    padding: 0.75rem; }
  .p-md-3 {
    padding: 1rem; }
  .p-md-4 {
    padding: 1.25rem; }
  .p-md-5 {
    padding: 1.5rem; }
  .p-md-6 {
    padding: 1.875rem; }
  .p-md-7 {
    padding: 2rem; }
  .p-md-8 {
    padding: 2.5rem; }
  .p-md-9 {
    padding: 3.75rem; }
  .p-md-10 {
    padding: 5rem; } }

@media (max-width: 767px) {
  .pt-md-0 {
    padding-top: 0; }
  .pt-md-1 {
    padding-top: 0.5rem; }
  .pt-md-2 {
    padding-top: 0.75rem; }
  .pt-md-3 {
    padding-top: 1rem; }
  .pt-md-4 {
    padding-top: 1.25rem; }
  .pt-md-5 {
    padding-top: 1.5rem; }
  .pt-md-6 {
    padding-top: 1.875rem; }
  .pt-md-7 {
    padding-top: 2rem; }
  .pt-md-8 {
    padding-top: 2.5rem; }
  .pt-md-9 {
    padding-top: 3.75rem; }
  .pt-md-10 {
    padding-top: 5rem; } }

@media (max-width: 767px) {
  .pr-md-0 {
    padding-right: 0; }
  .pr-md-1 {
    padding-right: 0.5rem; }
  .pr-md-2 {
    padding-right: 0.75rem; }
  .pr-md-3 {
    padding-right: 1rem; }
  .pr-md-4 {
    padding-right: 1.25rem; }
  .pr-md-5 {
    padding-right: 1.5rem; }
  .pr-md-6 {
    padding-right: 1.875rem; }
  .pr-md-7 {
    padding-right: 2rem; }
  .pr-md-8 {
    padding-right: 2.5rem; }
  .pr-md-9 {
    padding-right: 3.75rem; }
  .pr-md-10 {
    padding-right: 5rem; } }

@media (max-width: 767px) {
  .pb-md-0 {
    padding-bottom: 0; }
  .pb-md-1 {
    padding-bottom: 0.5rem; }
  .pb-md-2 {
    padding-bottom: 0.75rem; }
  .pb-md-3 {
    padding-bottom: 1rem; }
  .pb-md-4 {
    padding-bottom: 1.25rem; }
  .pb-md-5 {
    padding-bottom: 1.5rem; }
  .pb-md-6 {
    padding-bottom: 1.875rem; }
  .pb-md-7 {
    padding-bottom: 2rem; }
  .pb-md-8 {
    padding-bottom: 2.5rem; }
  .pb-md-9 {
    padding-bottom: 3.75rem; }
  .pb-md-10 {
    padding-bottom: 5rem; } }

@media (max-width: 767px) {
  .pl-md-0 {
    padding-left: 0; }
  .pl-md-1 {
    padding-left: 0.5rem; }
  .pl-md-2 {
    padding-left: 0.75rem; }
  .pl-md-3 {
    padding-left: 1rem; }
  .pl-md-4 {
    padding-left: 1.25rem; }
  .pl-md-5 {
    padding-left: 1.5rem; }
  .pl-md-6 {
    padding-left: 1.875rem; }
  .pl-md-7 {
    padding-left: 2rem; }
  .pl-md-8 {
    padding-left: 2.5rem; }
  .pl-md-9 {
    padding-left: 3.75rem; }
  .pl-md-10 {
    padding-left: 5rem; } }

.h-100 {
  height: 100%; }

@media (max-width: 992px) {
  .h-lg-100 {
    height: 100%; } }

@media (max-width: 767px) {
  .h-md-100 {
    height: 100%; } }

.w-100 {
  width: 100%; }

@media (max-width: 992px) {
  .w-lg-100 {
    width: 100%; } }

@media (max-width: 767px) {
  .w-md-100 {
    width: 100%; } }

.hide-text {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap; }

.btn-primary {
  color: #fff;
  background-color: #650300; }

.d-block {
  display: block; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-none {
  display: none; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.bg-cover-center {
  background-position: center center;
  background-size: cover; }

.bg-transparent {
  background-color: transparent; }

.bg-primary {
  background-color: #650300; }

.bg-secondary {
  background-color: #aa0601; }

.bg-third {
  background-color: #FBF2F2; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-white {
  color: #fff; }

.text-primary {
  color: #650300; }

.text-secondary {
  color: #aa0601; }

.border-bottom {
  border-bottom: 1px solid; }

.border-white {
  border-color: #fff; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

.positionABCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

@media (max-width: 992px) {
  .positionABCenter-lg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); } }

@media (max-width: 767px) {
  .positionABCenter-md {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); } }

@media (max-width: 992px) {
  .d-lg-block {
    display: block; } }

@media (max-width: 767px) {
  .d-md-block {
    display: block; } }

@media (max-width: 992px) {
  .d-lg-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 767px) {
  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 992px) {
  .d-lg-none {
    display: none; } }

@media (max-width: 767px) {
  .d-md-none {
    display: none; } }

@media (max-width: 992px) {
  .flex-lg-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (max-width: 767px) {
  .flex-md-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (max-width: 992px) {
  .flex-lg-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; } }

@media (max-width: 767px) {
  .flex-md-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; } }

@media (max-width: 992px) {
  .flex-row-lg-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; } }

@media (max-width: 767px) {
  .flex-row-md-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; } }

@media (max-width: 992px) {
  .justify-content-lg-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media (max-width: 767px) {
  .justify-content-md-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media (max-width: 992px) {
  .position-lg-relative {
    position: relative; } }

@media (max-width: 767px) {
  .position-md-relative {
    position: relative; } }

@media (max-width: 992px) {
  .position-lg-absolute {
    position: absolute; } }

@media (max-width: 767px) {
  .position-md-absolute {
    position: absolute; } }

.btn {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-top: 1rem;
  padding-right: 3.625rem;
  padding-bottom: 1rem;
  padding-left: 3.625rem;
  border: none; }
  .btn:hover {
    background-color: #aa0601; }

.card {
  border: 1px solid #DEE2E6;
  border-radius: .25rem; }
  .card__img {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    width: 100%; }
  .card__body {
    padding: 1rem 1rem; }

.nav {
  padding-left: 88px;
  padding-right: 56px; }
  @media (max-width: 767px) {
    .nav {
      padding-left: 0px;
      padding-right: 0px; } }
  .nav .logo {
    width: 80px;
    height: 49px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-repeat: no-repeat; }
    @media (max-width: 767px) {
      .nav .logo {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        background-position: center; } }
  @media (max-width: 767px) {
    .nav .navMenu {
      width: 100%; } }
  @media (max-width: 767px) {
    .nav .navMenu > li {
      width: 50%; } }
  .nav .navMenu > li > a {
    font-size: 20px;
    display: block;
    padding-top: 39px;
    padding-bottom: 39px; }
    @media (max-width: 992px) {
      .nav .navMenu > li > a {
        padding-right: 20px;
        padding-left: 20px; } }
    @media (max-width: 767px) {
      .nav .navMenu > li > a {
        border: 1px solid #fff;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px; } }
    .nav .navMenu > li > a:hover {
      background-color: #650300; }

.hero {
  height: 52.5rem; }
  @media (max-width: 992px) {
    .hero {
      background-image: url(../images/banner-sm.png); } }
  @media (max-width: 767px) {
    .hero {
      height: 24.625rem; } }

.footer a {
  color: #fff; }

.useProfection .material-icons-outlined {
  font-size: 100px; }

.classical .optical {
  background-image: url(../../../assets/images/product-1.png); }

.classical .sunglasses {
  background-image: url(../../../assets/images/product-2.png); }
  .classical .sunglasses:hover {
    background-image: url(../../../assets/images/product-2-color.png); }

.classical .functional {
  background-image: url(../../../assets/images/product-3.png); }

.classical__img {
  height: 320px; }
  @media (max-width: 992px) {
    .classical__img {
      height: 168px; } }
  @media (max-width: 767px) {
    .classical__img {
      height: 134px; } }

.classical__icon {
  font-size: 44px;
  line-height: 72px; }
  @media (max-width: 992px) {
    .classical__icon {
      font-size: 36px; } }

.classical__text {
  line-height: 72px; }
  @media (max-width: 992px) {
    .classical__text {
      font-size: 28px; } }

.jointDesign__block {
  display: block;
  height: 455px; }
  .jointDesign__block:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: .5;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s; }
  .jointDesign__block:hover:before {
    opacity: 0; }
  @media (max-width: 992px) {
    .jointDesign__block {
      height: 278px; } }
  @media (max-width: 767px) {
    .jointDesign__block {
      height: 291px; } }

.jointDesign .double {
  background-image: url(./assets/images/product-8.png); }

.jointDesign .youth {
  background-image: url(./assets/images/product-9.png); }

.jointDesign__text {
  line-height: 108px; }
  @media (max-width: 992px) {
    .jointDesign__text {
      font-size: 32px;
      line-height: 25px; } }

/*# sourceMappingURL=all.css.map */
