//
$h-fonts: 64px 48px 36px 24px 16px;
// 72 64 48 42 36 32 24 20 16 14
$fonts:72px 64px 48px 42px 36px 24px 20px 16px 14px;
// 之後再補 list 的擴充性似乎差了點
// $breakPoints:(
//   '':'',
//   lg: 'pad',
//   md: 'mobile'
// );
// h 系列設定
@for $i from 1 through length($h-fonts) {
  .h#{$i} {
    font-size: pxToRem(nth($h-fonts, $i));
    color: $color-primary;
    line-height: 1.2;
    font-weight: 600;
  }
}

// font size
@for $index from 1 through length($fonts) {
    .fs-#{$index}{
      font-size: pxToRem(nth($fonts,$index)) ;
    }
}
// font size - lg
@for $index from 1 through length($fonts) {
  @include pad{
    .fs-lg-#{$index}{
      font-size: pxToRem(nth($fonts,$index)) ;
    }
  }
}
// font size -md
@for $index from 1 through length($fonts) {
  @include mobile{
    .fs-md-#{$index}{
      font-size: pxToRem(nth($fonts,$index)) ;
    }
  }
}


$text-white: #fff;

$font-weight-black: 900;
$font-weight-blod: 700;
$font-weight-semiBlod: 600;
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-weight-regular: 400;
$font-weight-light: 300;

.fw-black {
  font-weight: 900;
}
.fw-blod {
  font-weight: 700;
}
.fw-semiBlod {
  font-weight: 600;
}
.fw-medium {
  font-weight: 500;
}
.fw-normal {
  font-weight: 400;
}
.fw-regular {
  font-weight: 400;
}

.font-italic {
  font-style: italic;
}

